numpy
pandas
tqdm
transformers
peft
accelerate
safetensors
huggingface-hub
datasets
tokenizers
hf_transfer
evaluate
bert-score
sacrebleu
rouge-score
nltk
sentencepiece
protobuf
scipy
requests
python-dateutil
bitsandbytes
scikit-learn
openpyxl
openai
python-dotenv
matplotlib
seaborn
google-genai
pydantic
